<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contact Management System</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>

 <div class="container my-2">
 <h1>Liste de contact</h1>
 
 <a th:href = "@{/showNewContactForm}" class="btn btn-primary btn-sm mb-3"> Ajouter un contact </a>

 
  <table border="1" class = "table table-striped table-responsive-md">
   <thead>
    <tr>
     <th>Nom</th>
     <th>Telephone</th>
     <th>Email</th>
     <th>Adresse</th>
     <th>Ville</th>
     <th>Pays</th>
     <th>Actions</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="contact : ${listContact}">
     <td th:text="${contact.nom}"></td>
     <td th:text="${contact.telephone}"></td>
     <td th:text="${contact.email}"></td>
     <td th:text="${contact.adresse}"></td>
     <td th:text="${contact.ville}"></td>
     <td th:text="${contact.pays}"></td>
     <td> <a th:href="@{/showFormForUpdate/{id}(id=${contact.id})}" class="btn btn-primary">Update</a>
     <a th:href="@{/deleteContact/{id}(id=${contact.id})}" class="btn btn-danger">Delete</a>

     </td>

    </tr>
   </tbody>
  </table>
 </div>
</body>
</html>